#header
  %h1#logo
    %a{ :href => "/" }= no_widow @heading
    %small= no_widow @subtitle

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false
  = haml :about, :layout => false

#content
  = haml :agile_edmonton, :layout => false
  .pages
    - @articles.each do |article|
      = haml :summary, :layout => false, :locals => { :article => article, :heading => :h2 }
    %p.read_more
      %a{ :href => '/presentations' }= 'View more presentations'
